body {
    margin: 0;
    font-family: sans-serif;
    background-image: url("https://img.freepik.com/free-vector/elegant-white-background-with-shiny-lines_1017-17580.jpg?size=626&ext=jpg");
}

.form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    position: relative;
}

#customer_form {
    width: 350px;
    height: 305px;
    padding: 20px;
    padding-top: 1px;
    background-color: #E9E9E9;
    border: 3px solid #E2E2E2;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 16px;
}

#legend {
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
}

.errort {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#error {
    font-family: sans-serif;
    font-size: 18px;
}

#fname {
    font-family: sans-serif;
    font-size: 14px;
    margin-left: 50px;
    margin-top: 7px;
    border-radius: 3px;
    border: 1px solid black;
    height: 20px;
}

#lname {
    font-family: sans-serif;
    font-size: 14px;
    margin-left: 51px;
    margin-top: 7px;
    border-radius: 3px;
    border: 1px solid black;
    height: 20px;
}

#baddr {
    font-family: sans-serif;
    font-size: 14px;
    margin-left: 21px;
    margin-top: 7px;
    border-radius: 3px;
    border: 1px solid black;
    height: 20px;
}

#daddr {
    font-family: sans-serif;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 7px;
    border-radius: 3px;
    border: 1px solid black;
    height: 20px;
}

.centered_b {
    position: absolute;
    margin: 0;
    bottom: 10px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

#button {
    background-color: #BDBDBD;
    color: #242424;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    font-size: 15px;
    width: 70px;
    height: 27px;
    font-weight: bold;
}

#info {
    font-style: italic;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 1px;
}
