body {
    margin: 0;
    font-family: sans-serif;
    background-image: url("https://img.freepik.com/free-vector/elegant-white-background-with-shiny-lines_1017-17580.jpg?size=626&ext=jpg");
}

.kenobi {
    width: 1900px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}
