<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p> {{NoCartID}}</p>

    <style>

    td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
    }
    </style>

    <table style="width:100%">
        <!-- table header -->
        <tr>

            <th> IID </th>
            <th> Amount </th>

        </tr>

        <!-- table rows -->
        {% for dict_item in table %}
        <tr>
            {% for item in dict_item.items() %}
            <td> {{ item[1] }} </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>