<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form method="POST">
        <input value="data" type="hidden" name="Amount">
        First name*: <input name="CFName"><br>
        Last name*: <input name="CLName"><br>
        Billing Address*: <input name="CBAddress"><br>
        Delivery Address*: <input name="CDAddress"><br>
        <input type="submit">
    </form>
    <i> Fields marked with * are mandatory </i><br>

    <output> {{errortext}} </output>
</body>
</html>