<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <style>

        table {
            align-self: center;
            text-align: center;
            border: 1px solid black;
            padding: 5px;
            padding-bottom: 50px;
            width: 85%;
        }

        tr {
            text-align: center;
            border: 1px solid black;
        }

        td {
            text-align: center;
            border: 1px solid black;
            padding: 5px;
            width: 17%
        }
    </style>

    {% for dict_item in prodTable %}
    <table>
        <!-- table header -->
        <tr>

            <th> Name </th>
            <th> Price </th>
            <th> Stock </th>
            <th> Color </th>
            <th> Description </th>

        </tr>

        <!-- table rows -->
        <tr>
            {% for item in dict_item.items() %}
            <td> {{ item[1] }} </td>
            {% endfor %}
        </tr>

    </table><br>
    {% endfor %}
</body>
</html>