<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <p>This is a new paragraph.</p>
    <style>

        td {
            width: 150px;
            text-align: center;
            border: 1px solid black;
            padding: 5px;
        }
    </style>
    <table style="width:100%">
        <!-- table header -->
        <tr>

            <th> CID </th>
            <th> CFName </th>

        </tr>

        <!-- table rows -->
        {% for dict_item in table %}
        <tr>
            {% for CID in dict_item.items() %}
            <td> {{ CID[1] }} </td>

            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>