<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form method="POST">
        First name*: <input name="RFName"><br>
        Last name*: <input name="RLName"><br>
        Billing Address*: <input name="RBAddress"><br>
        Delivery Address*: <input name="RDAddress"><br>
        E-Mail*: <input name="RMail"><br>
        Password*: <input name="RPassword">
        <input type="submit">
    </form>
    <i> Fields marked with * are mandatory </i><br>

    <output> {{errortext}} </output>

</body>
</html>