<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <style>

        td {
            width: 150px;
            text-align: center;
            border: 1px solid black;
            padding: 5px;
        }
    </style>
    <table style="width:100%">
        <!-- table header -->
        <tr>

            <th> ID </th>
            <th> Salary </th>

        </tr>

        <!-- table rows -->
        {% for dict_item in data %}
        <tr>
            {% for ID in dict_item.items() %}
            <td> {{ ID }} </td>
            
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>