<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <style>

        td {
            width: 150px;
            text-align: center;
            border: 1px solid black;
            padding: 5px;
        }
    </style>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            {% for id, salary in result.iteritems() %}
            <tr>
                <td>{{ id, salary}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>