<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>test</title>
</head>
<body>
    <h1 style='color:red'>Hello There!</h1>
    <img src="https://i.kym-cdn.com/photos/images/facebook/001/475/422/473.jpg" alt="Trulli" width="500" height="333">
    <a href="/Kenobi"> click pls </a>
    <a href="/readTable"> read table </a>

    <table style="width:100%">
        <!-- table header -->
        <tr>

            <th> Name </th>
            <th> Price </th>

        </tr>

        <!-- table rows -->
        {% for dict_item in data %}
        <tr>
            {% for item in dict_item.items() %}
            <td> {{ item[1] }} </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>