﻿
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Berras Epor</title>
</head>
<body>
    <h1 style='color:red'>Hello There!</h1>
    <img src="https://i.kym-cdn.com/photos/images/facebook/001/475/422/473.jpg" alt="Trulli" width="500" height="333">
    <img src="https://i.kym-cdn.com/photos/images/newsfeed/001/062/257/3b6.png" alt="Trulli" width="500" height="333"><br>
    <a href="/Kenobi"> click pls </a><br>
    {% if loginstatus == "None" %}
    <a href="/login"> Login  </a> or
    <a href="/signup"> Signup  </a><br>
    {% elif loginstatus== None %}
    <a href="/login"> Login  </a> or
    <a href="/signup"> Signup  </a><br>
    {% else %}
    <a href="/logout"> Logout </a>
    {% endif %}
    <p>{{login}}</p>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Win 1 million dollars!</a><br>

    <style>

        table {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            border: 1px solid black;
            padding: 5px;
            padding-bottom: 10px;
            width: 85%;
        }

        tr {
            text-align: center;
            border: 1px solid black;
        }

        td {
            text-align: center;
            border: 1px solid black;
            padding: 5px;
            width: 17%
        }
    </style>

    {% for dict_item in prodTable %}
    <table>
        <!-- table header -->
        <tr>

            <th> Name </th>
            <th> Price </th>
            <th> Stock </th>
            <th> Color </th>
            <th> Description </th>

        </tr>

        <!-- table rows -->
        <tr>
            {% for item in dict_item.items() %}
            <td> {{ item[1] }} </td>
            {% endfor %}
            <td> <button onclick="location.href='/Kenobi'" type="button", value="dict_item">Add to cart</button> </td>
            <td> {{dict_item}}</td>
        </tr>

    </table><br>
    {% endfor %}

    {% if loginstatus == "admin" %}
    <a href="/admin"> secret </a><br>
    {% endif %}
</body>
</html>
