<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <style>

        table {
            width: 150px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            border: 1px solid black;
            padding: 5px;
        }
    </style>

    <table style="width:100%">
        <!-- table header -->
        <tr>

            <th>  </th>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Billing Address </th>
            <th> Delivery Address </th>
            <th> Mail </th>
            <th> Password </th>


        </tr>

        <!-- table rows -->
        {% for dict_item in user %}
        <tr>
            {% for item in dict_item.items() %}
            <td> {{ item[1] }} </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table><br>
</body>
</html>